extends layout

block content
    h1 Hallo, ich bin immer noch ein Prototyp.
    p.lead
        | Das hier sind alle Firmen aus der Datenbank:

    table.table.table-striped.table-hover
        tr
            th NAME
            th URL
            th EMAIL1
            th EMAIL2
            th MEMO
        - for (var i = 0; i < results.length; i++) {
            tr
                td=results[i]['com_name']
                td
                    //- TODO: replace 'LINK' by the link itself... doesn't seem to work
                    a(href=results[i]['com_url']) LINK
                td=results[i]['com_email1']
                td=results[i]['com_email2']
                td=results[i]['com_memo']
        - }
