extends layout

block content
    //- include partials/alerts

    p.lead.col-lg-10.nopadding
        | Persons

    p.col-lg-2.input-sm.pull-right
        input(id='searchInput',type='text',onkeyup='searchThis()',placeholder='Search...')

    table.table.table-hover(id='datatable')
        tr
            - if (column === "per_name") var per_name_order = order;
            th.mouse_pointer(onClick='sortColumns(\'per_name\', \'' + per_name_order + '\')')
                | NAME
                - if (per_name_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (per_name_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "per_url") var per_url_order = order;
            th.mouse_pointer(onClick='sortColumns(\'per_url\', \'' + per_url_order + '\')')
                | URL
                - if (per_url_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (per_url_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "com_name") var com_name_order = order;
            th.mouse_pointer(onClick='sortColumns(\'com_name\', \'' + com_name_order + '\')')
                | COMPANY
                - if (com_name_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (com_name_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            th EDIT
                i.fa.fa-undo.sort_icons.pull-right.mouse_pointer(onClick='sortColumns(\'unsort\', \'unsort\')')
        - for (var i = 0; i < results.length; i++) {
            tr
                td
                    =results[i]['per_name']
                    =', '
                    =results[i]['per_firstname']
                td
                    a(href=results[i]['per_url'])
                        span=            url.parse(results[i]['per_url']).hostname
                        span.text-muted= url.parse(results[i]['per_url']).path
                td=results[i]['com_name']
                td
                    //-----------
                    //- BUTTONS
                    //-----------
                    .pull-right
                        button.btn.btn-info.btn-xs.showmemo(type='button')
                            - if (results[i]['per_memo'].length > 0) {
                                span.symbolbutton
                                    i.fa.fa-caret-down
                            - } else {
                                span.symbolbutton
                                    i.fa.fa-plus
                            - }
                        input.hidden(type='text',id='id',name='id',value=results[i]['per_id'])
                    .pull-right
                        form(method='post',action='/persons/delete',)
                            - var personshortdesc = { name: results[i]['per_name'] , firstname: results[i]['per_firstname'] }
                            button.btn.btn-danger.btn-xs(type='submit', name='per_id', value=results[i]['per_id'], onClick="return confirm('Wollen Sie #{personshortdesc.firstname} #{personshortdesc.name} wirklich löschen?')") ✘
                    .pull-right
                        form(method='get',action='/persons/' + results[i]['per_id'])
                            button.btn.btn-primary.btn-xs(type='submit') INFO
            tr.memo(id='memo_'+results[i]['per_id'])
                td(colspan='4').well
                    p.input.col-lg-11=results[i]['per_memo']
                    .col-lg-3.pull-right
                        .pull-right.editbutton
                            button.btn.btn-default.btn-xs(type='button') EDIT
                        .pull-right.hidden.confirmbuttons
                            button.btn.btn-default.btn-xs.cancelbutton(type='button') ABBRECHEN
                            button.btn.btn-primary.btn-xs.submitbutton(type='submit') SPEICHERN
        - }

    p
        button.btn.btn-default.btn-sm.btn-block(type='button',id='newentrybtn',data-toggle='modal',data-target='#detailmodal') ADD NEW ENTRY

    .modal.fade(tabindex='-1',role='dialog',aria-labelledby='Infos',aria-hidden='true',id='detailmodal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') ×
                    h3.modal-title New Entry
                .modal-body
                    form.form-horizontal(method='post')
                        fieldset
                            .form-group
                                label.col-lg-2.control-label(for='firstName') FIRSTNAME
                                .col-lg-10
                                    input.form-control(type='text',id='firstName',name='firstName',placeholder='first name')
                            .form-group
                                label.col-lg-2.control-label(for='lastName') LASTNAME
                                .col-lg-10
                                    input.form-control(type='text',id='lastName',name='lastName',placeholder='last name')
                            .form-group
                                label.col-lg-2.control-label(for='url') URL
                                .col-lg-10
                                    input.form-control(type='text',id='url',name='url',placeholder='http://kolle-mate.de')
                            .form-group
                                label.col-lg-2.control-label(for='email') E-MAIL
                                .col-lg-10
                                    input.form-control(type='text',id='email',name='email',placeholder='max@mustermann.de')
                            .form-group
                                label.col-lg-2.control-label(for='memo') MEMO
                                .col-lg-10
                                    textarea.form-control(type='text',input='memo',name='memo',rows='10')
                            .form-group
                                label.col-lg-2.control-label(for='company') COMPANY
                                .col-lg-10
                                    select.form-control(id='company',name='company')
                                        option - N/A -
                                        - for (var i = 0; i < companies.length; i++) {
                                            option=companies[i]['com_name']
                                        - }
                        .pull-right
                            button.btn.btn-default.btn-xs(type='button',data-dismiss='modal') CANCEL
                            button.btn.btn-primary.btn-xs(type='submit') SAVE
                        .clearfix
