extends layout

block content
    //- include partials/alerts

    p.lead
        | Das hier sind alle Personen aus der Datenbank:

    table.table.table-hover(id='datatable')
        tr
            th NAME
            th URL
            th COMPANY
            th EDIT
        - for (var i = 0; i < results.length; i++) {
            tr.inforow
                td
                    =results[i]['per_firstname']
                    =' '
                    =results[i]['per_name']
                td
                    a(href=results[i]['per_url'])
                        span=results[i]['per_url']
                td=results[i]['com_name']
                td
                    button.btn.btn-primary.btn-xs(type='button',data-toggle='modal',data-target='#detailmodal',data-id=results[i]['per_id']) EDIT
            tr.memo
                td(colspan='4').well
                    p=results[i]['per_memo']
                    button.btn.btn-primary.btn-sm.btn-block(type='button') EDIT
        - }

    p
        button.btn.btn-default.btn-sm.btn-block(type='button',id='newentrybtn',data-toggle='modal',data-target='#detailmodal') NEUEN EINTRAG HINZUFÜGEN

    .modal.fade(tabindex='-1',role='dialog',aria-labelledby='Infos',aria-hidden='true',id='detailmodal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') ×
                    h3.modal-title Informationen
                .modal-body
                    form.form-horizontal
                        fieldset
                            .form-group
                                label.col-lg-2.control-label(for='inputFirstname') Vorname
                                .col-lg-10
                                    input.form-control(type='text',id='inputFirstname',placeholder='Vorname')
                            .form-group
                                label.col-lg-2.control-label(for='inputLastname') Nachname
                                .col-lg-10
                                    input.form-control(type='text',id='inputLastname',placeholder='Nachname')
                            .form-group
                                label.col-lg-2.control-label(for='inputURL') URL
                                .col-lg-10
                                    input.form-control(type='text',id='inputURL',placeholder='http://kolle-mate.de')
                            .form-group
                                label.col-lg-2.control-label(for='inputEmail') E-Mail
                                .col-lg-10
                                    input.form-control(type='text',id='inputEmail',placeholder='max@mustermann.de')
                            .form-group
                                label.col-lg-2.control-label(for='inputMemo') Memo
                                .col-lg-10
                                    textarea.form-control(type='text',input='inputMemo',rows='10')
                            .form-group
                                label.col-lg-2.control-label(for='inputCompany') Firma
                                .col-lg-10
                                    select.form-control(id='select')
                                        option Firma1
                                        option Firma2
                                        option irgendwann
                                        option werde ich
                                        option auch dynamisch
                    button.btn.btn-default.btn-xs(type='button',data-dismiss='modal') ABBRECHEN
                    button.btn.btn-primary.btn-xs(type='button',data-dismiss='modal',id='submitedit') SPEICHERN
