extends layout

block content
    //- include partials/alerts

    p.lead
        | Das hier sind alle Personen aus der Datenbank:

    table.table.table-hover(id='datatable')
        tr
            th NAME
            th URL
            th COMPANY
            th EDIT
        - for (var i = 0; i < results.length; i++) {
            tr.inforow
                td
                    =results[i]['per_firstname']
                    =' '
                    =results[i]['per_name']
                td
                    a(href=results[i]['per_url'])
                        span=results[i]['per_url']
                td=results[i]['com_name']
                td
                    form(method='post',action='/rmperson')
                        button.btn.btn-primary.btn-xs(type='button',data-toggle='modal',data-target='#detailmodal',data-id=results[i]['per_id']) EDIT
                        input.hidden(type='text',id='id',name='id',value=results[i]['per_id'])
                        button.btn.btn-danger.btn-xs(type='submit',name=results[i]['per_id']) ×
            tr.memo
                td(colspan='4').well
                    p=results[i]['per_memo']
                    button.btn.btn-primary.btn-sm.btn-block(type='button') EDIT
        - }

    p
        button.btn.btn-default.btn-sm.btn-block(type='button',id='newentrybtn',data-toggle='modal',data-target='#detailmodal') NEUEN EINTRAG HINZUFÜGEN

    .modal.fade(tabindex='-1',role='dialog',aria-labelledby='Infos',aria-hidden='true',id='detailmodal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') ×
                    h3.modal-title Informationen
                .modal-body
                    form.form-horizontal(method='post')
                        fieldset
                            .form-group
                                label.col-lg-2.control-label(for='firstName') Vorname
                                .col-lg-10
                                    input.form-control(type='text',id='firstName',name='firstName',placeholder='Vorname')
                            .form-group
                                label.col-lg-2.control-label(for='lastName') Nachname
                                .col-lg-10
                                    input.form-control(type='text',id='lastName',name='lastName',placeholder='Nachname')
                            .form-group
                                label.col-lg-2.control-label(for='url') URL
                                .col-lg-10
                                    input.form-control(type='text',id='url',name='url',placeholder='http://kolle-mate.de')
                            .form-group
                                label.col-lg-2.control-label(for='email') E-Mail
                                .col-lg-10
                                    input.form-control(type='text',id='email',name='email',placeholder='max@mustermann.de')
                            .form-group
                                label.col-lg-2.control-label(for='memo') Memo
                                .col-lg-10
                                    textarea.form-control(type='text',input='memo',name='memo',rows='10')
                            .form-group
                                label.col-lg-2.control-label(for='company') Firma
                                .col-lg-10
                                    select.form-control(id='company',name='company')
                                        - for (var i = 0; i < companies.length; i++) {
                                            option=companies[i]['com_name']
                                        - }
                        button.btn.btn-default.btn-xs(type='button',data-dismiss='modal') ABBRECHEN
                        button.btn.btn-primary.btn-xs(type='submit') SPEICHERN
