extends layout

block content
    h1 Hallo, ich bin ein Prototyp.
    p.lead
        | Das hier sind alle User aus der Datenbank:

    table.table.table-striped.table-hover
        tr
            th FIRSTNAME
            th NAME
            th URL
            th COMPANY
            th MEMO
        - for (var i = 0; i < results.length; i++) {
            tr
                td=results[i]['per_firstname']
                td=results[i]['per_name']
                td
                    //- would be nice to replace 'LINK' by the link itself... doesn't seem to work
                    a(href=results[i]['per_url']) LINK
                td=results[i]['com_name']
                td=results[i]['per_memo']
        - }
