extends ../layout

block content
    //- include partials/alerts

    .col-md-5
        form.form-horizontal(method='post',action='/persons/' + results[0]['per_id'] + '/edit')
            div.panel.panel-primary.form-group
                div.panel-heading
                    label.control-label(for='firstName')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'firstName')
                    input.form-control(type='text',id='firstName',name='firstName',value=results[0]['per_firstname'])
                    label.control-label(for='name')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'lastName')
                    input.form-control(type='text',id='name',name='name',value=results[0]['per_name'])

            div.list-group.form-group(id='urlgroup')
                div.list-group-item
                    label.control-label(for='url')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'url')
                    input.form-control(type='text',id='url',name='url',value=results[0]['per_url'],onblur='validateURL()')

            div.list-group.form-group(id='emailgroup')
                div.list-group-item
                    label.control-label(for='email0')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'email')
                    - if(emails.length == 0) {
                        input.form-control(type='email',id='emails[0]',name='emails[0]',value='')
                    - } else {
                        - for (var i = 0; i < emails.length; i++) {
                            input.form-control(type='email',id='emails[' + i + ']',name='emails[' + i + ']',value=emails[i]['em_email'],onblur='validateEmail()')
                            input.form-control(type='hidden',id='oldemails[' + i + ']',name='oldemails[' + i + ']',value=emails[i]['em_email'])
                        - }
                    - }

            div.list-group.form-group
                div.list-group-item
                    label.control-label(for='url')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'company')
                    select.form-control(id='company',name='company')
                        option - N/A -
                        - for (var i = 0; i < companies.length; i++) {
                            - if (companies[i]['com_name'] === results[0]['com_name']) {
                                option(selected='selected')=companies[i]['com_name']
                            - } else {
                                option=companies[i]['com_name']
                            - }
                        - }
            .pull-left
                button.btn.btn-info.btn-xs(type='submit',id='submitbtn')
                    = dict === undefined ? 'ERROR' : dict.get('persons', 'saveButtonText')

        .pull-left
            form(method='get',action='/persons/' + results[0]['per_id'])
                button.btn.btn-xs(type='submit')
                    = dict === undefined ? 'ERROR' : dict.get('persons', 'cancelButtonText')

    .col-md-7
        div.list-group
            div.list-group-item.memotextdiv
                h5.list-group-item-heading
                    strong
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'memo')
                form(method='post',action='/persons/' + results[0]['per_id'] + '/editMemo')
                    input.hidden.form-control(type='text',id='id',name='id',value=results[0]['per_id'])
                    textarea.memotextarea.form-control(id='memo',name='memo')=results[0]['per_memo']
                    p
                    button.btn.btn-info.btn-xs(type='submit')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'saveButtonText')
