extends ../layout

block content
    //- include partials/alerts

    p.lead.col-lg-10.nopadding
        = dict === undefined ? 'ERROR' : dict.get('persons', 'title')

    p.col-lg-2.input-sm.pull-right
        input(id='searchInput',type='text',onkeyup='searchThis()',placeholder='Search...')

    table.table.table-hover(id='datatable')
        tr
            - if (column === "per_name") var per_name_order = order;
            th.mouse_pointer(onClick='sortColumns(\'per_name\', \'' + per_name_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('persons', 'name')
                - if (per_name_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (per_name_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "per_email1") var per_email1_order = order;
            th.mouse_pointer(onClick='sortColumns(\'per_email1\', \'' + per_email1_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('persons', 'email')
                - if (per_email1_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (per_email1_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "per_url") var per_url_order = order;
            th.mouse_pointer(onClick='sortColumns(\'per_url\', \'' + per_url_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('persons', 'url')
                - if (per_url_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (per_url_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "per_phone1") var per_phone1_order = order;
            th.mouse_pointer(onClick='sortColumns(\'per_phone1\', \'' + per_phone1_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('persons', 'phone')
                - if (per_phone1_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (per_phone1_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "com_name") var com_name_order = order;
            th.mouse_pointer(onClick='sortColumns(\'com_name\', \'' + com_name_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('persons', 'company')
                - if (com_name_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (com_name_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            th
                i.fa.fa-undo.sort_icons.pull-right.mouse_pointer(onClick='sortColumns(\'unsort\', \'unsort\')')
        - for (var i = 0; i < results.length; i++) {
            tr
                td
                    =results[i].per_name
                    =', '
                    =results[i].per_firstname
                td=results[i].per_email1
                td
                    a(href=results[i].per_url)
                        span=url.parse(results[i].per_url).hostname
                td=results[i].per_phone1
                td=results[i].com_name
                td
                    //-----------
                    //- BUTTONS
                    //-----------
                    .pull-right
                        button.btn.btn-info.btn-xs.showmemo(type='button')
                            - if (results[i]['per_memo'].length > 0) {
                                span.symbolbutton
                                    i.fa.fa-caret-down
                            - } else {
                                span.symbolbutton
                                    i.fa.fa-plus
                            - }
                        input.hidden(type='text',id='id',name='id',value=results[i]['per_id'])
                    .pull-right
                        form(method='post',action='/persons/delete',)
                            - var msgTxt = dict === undefined ? 'ERROR' : dict.get('persons', 'deleteDialogText', results[i]['per_firstname'], results[i]['per_name'])
                            button.btn.btn-danger.btn-xs(type='submit', name='per_id', value=results[i]['per_id'], onClick="return confirm('#{msgTxt}')")
                                span.symbolbutton
                                    i.fa.fa-times
                    .pull-right
                        form(method='get',action='/persons/' + results[i]['per_id'])
                            button.btn.btn-primary.btn-xs(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('persons', 'infoButtonText')
            tr.memo(id='memo_'+results[i]['per_id'])
                td(colspan='6').well
                    p.input.col-lg-11=results[i]['per_memo']
                    .col-lg-3.pull-right
                        .pull-right.editbutton
                            button.btn.btn-default.btn-xs(type='button')
                                = dict === undefined ? 'ERROR' : dict.get('persons', 'editButtonText')
                        .pull-right.hidden.confirmbuttons
                            button.btn.btn-default.btn-xs.cancelbutton(type='button')
                                = dict === undefined ? 'ERROR' : dict.get('persons', 'cancelButtonText')
                            button.btn.btn-primary.btn-xs.submitbutton(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('persons', 'saveButtonText')
        - }

    form(method='get',action='/persons/new')
        button.btn.btn-default.btn-sm.btn-block(type='submit',id='newentrybtn')
            = dict === undefined ? 'ERROR' : dict.get('persons', 'addButtonText')
    p
