extends ../layout

block content
    //- include partials/alerts

    p.lead.col-lg-10.nopadding
        = dict === undefined ? 'ERROR' : dict.get('companies', 'title')

    p.col-lg-2.input-sm.pull-right
        input(id='searchInput',type='text',onkeyup='searchThis()',placeholder='Search...')

    table.table.table-hover(id='datatable')
        tr
            th
                = dict === undefined ? 'ERROR' : dict.get('companies', 'name')
            th
                = dict === undefined ? 'ERROR' : dict.get('companies', 'url')
            th
                = dict === undefined ? 'ERROR' : dict.get('companies', 'adress')
        - for (var i = 0; i < results.length; i++) {
            tr
                td
                    =results[i]['com_name']
                td
                    a(href=results[i]['com_url'])
                        span=            url.parse(results[i].com_url).hostname
                        span.text-muted= url.parse(results[i].com_url).path
                td=results[i]['com_adress']
                td
                    //-----------
                    //- BUTTONS
                    //-----------
                    .pull-right
                        button.btn.btn-info.btn-xs.showmemo(type='button')
                            - if (results[i].com_memo.length > 0) {
                                span.symbolbutton ▼
                            - } else {
                                span.symbolbutton ✚
                            - }
                        input.hidden(type='text',id='id',name='id',value=results[i].com_id)
                    .pull-right
                        form(method='post',action='/companies/delete',)
                            button.btn.btn-danger.btn-xs(type='submit', name='com_id', value=results[i].com_id, onClick="return confirm('#{dict === undefined ? 'ERROR' : dict.get('companies', 'deleteConfirmText')}')") ✘
                    .pull-right
                        form(method='get',action='/companies/' + results[i].com_id)
                            button.btn.btn-primary.btn-xs(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('companies', 'infoButtonText')
        - }

    p
        button.btn.btn-default.btn-sm.btn-block(type='button',id='newentrybtn',data-toggle='modal',data-target='#detailmodal') 
            = dict === undefined ? 'ERROR' : dict.get('companies', 'addButtonText')

    .modal.fade(tabindex='-1',role='dialog',aria-labelledby='Infos',aria-hidden='true',id='detailmodal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') ×
                    h3.modal-title New Entry
                .modal-body
                    form.form-horizontal(method='post')
                        fieldset
                            .form-group
                                label.col-lg-2.control-label(for='name') NAME
                                .col-lg-10
                                    input.form-control(type='text',id='name',name='name',placeholder='name')
                            .form-group
                                label.col-lg-2.control-label(for='url') URL
                                .col-lg-10
                                    input.form-control(type='text',id='url',name='url',placeholder='http://kolle-mate.de')
                            .form-group
                                label.col-lg-2.control-label(for='email') E-MAIL
                                .col-lg-10
                                    input.form-control(type='text',id='email',name='email',placeholder='max@mustermann.de')
                            .form-group
                                label.col-lg-2.control-label(for='memo') MEMO
                                .col-lg-10
                                    textarea.form-control(type='text',input='memo',name='memo',rows='10')
                        .pull-right
                            button.btn.btn-default.btn-xs(type='button',data-dismiss='modal') CANCEL
                            button.btn.btn-primary.btn-xs(type='submit') SAVE
                        .clearfix
