extends ../layout

block content
    //- include partials/alerts

    p.lead.col-lg-10.nopadding
        = dict === undefined ? 'ERROR' : dict.get('companies', 'title')

    p.col-lg-2.input-sm.pull-right
        input(id='searchInput',type='text',onkeyup='searchThis()',placeholder='Search...')

    table.table.table-hover(id='datatable')
        tr
            - if (column === "com_name") var com_name_order = order;
            th.mouse_pointer(onClick='sortColumns(\'com_name\', \'' + com_name_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('companies', 'name')
                - if (com_name_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (com_name_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "com_email1") var com_email1_order = order;
            th.mouse_pointer(onClick='sortColumns(\'com_email1\', \'' + com_email1_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('companies', 'email')
                - if (com_email1_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (com_email1_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "com_url") var com_url_order = order;
            th.mouse_pointer(onClick='sortColumns(\'com_url\', \'' + com_url_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('companies', 'url')
                - if (com_url_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (com_url_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "com_phone1") var com_phone1_order = order;
            th.mouse_pointer(onClick='sortColumns(\'com_phone1\', \'' + com_phone1_order + '\')')
                = dict === undefined ? 'ERROR' : dict.get('companies', 'phone')
                - if (com_phone1_order === "ASC") {
                    i.fa.fa-sort-asc.sort_icons
                - } else if (com_phone1_order === "DESC") {
                    i.fa.fa-sort-desc.sort_icons
                - } else {
                    i.fa.fa-sort.sort_icons
                - }
            - if (column === "com_name") var com_name_order = order;
            th
                i.fa.fa-undo.sort_icons.pull-right.mouse_pointer(onClick='sortColumns(\'unsort\', \'unsort\')')
        - for (var i = 0; i < results.length; i++) {
            tr
                td
                    =results[i].com_name
                td=results[i].com_email1
                td
                    a(href=results[i].com_url)
                        span=url.parse(results[i].com_url).hostname
                td=results[i].com_phone1
                td
                    //-----------
                    //- BUTTONS
                    //-----------
                    .pull-right
                        button.btn.btn-info.btn-xs.showmemo(type='button')
                            - if (results[i]['com_memo'].length > 0) {
                                span.symbolbutton
                                    i.fa.fa-caret-down
                            - } else {
                                span.symbolbutton
                                    i.fa.fa-plus
                            - }
                        input.hidden(type='text',id='id',name='id',value=results[i]['com_id'])
                    .pull-right
                        form(method='post',action='/companies/delete',)
                            - var msgTxt = dict === undefined ? 'ERROR' : dict.get('companies', 'deleteDialogText', results[i]['com_name'])
                            button.btn.btn-danger.btn-xs(type='submit', name='com_id', value=results[i]['com_id'], onClick="return confirm('#{msgTxt}')")
                                span.symbolbutton
                                    i.fa.fa-times
                    .pull-right
                        form(method='get',action='/companies/' + results[i]['com_id'])
                            button.btn.btn-primary.btn-xs(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('companies', 'infoButtonText')
            tr.memo(id='memo_'+results[i]['com_id'])
                td(colspan='6').well
                    p.input.col-lg-11=results[i]['com_memo']
                    .col-lg-3.pull-right
                        .pull-right.editbutton
                            button.btn.btn-default.btn-xs(type='button')
                                = dict === undefined ? 'ERROR' : dict.get('companies', 'editButtonText')
                        .pull-right.hidden.confirmbuttons
                            button.btn.btn-default.btn-xs.cancelbutton(type='button')
                                = dict === undefined ? 'ERROR' : dict.get('companies', 'cancelButtonText')
                            button.btn.btn-primary.btn-xs.submitbutton(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('companies', 'saveButtonText')
        - }

    form(method='get',action='/companies/new')
        button.btn.btn-default.btn-sm.btn-block(type='submit',id='newentrybtn')
            = dict === undefined ? 'ERROR' : dict.get('companies', 'addButtonText')
    p
