extends ../layout

block content
    //- include partials/alerts

    p.lead.col-lg-10.nopadding
        = dict === undefined ? 'ERROR' : dict.get('companies', 'title')

    p.col-lg-2.input-sm.pull-right
        input(id='searchInput',type='text',onkeyup='searchThis()',placeholder='Search...')

    table.table.table-hover(id='datatable')
        tr
            th
                = dict === undefined ? 'ERROR' : dict.get('companies', 'name')
            th
                = dict === undefined ? 'ERROR' : dict.get('companies', 'url')
            th
                = dict === undefined ? 'ERROR' : dict.get('companies', 'adress')
        - for (var i = 0; i < results.length; i++) {
            tr
                td
                    =results[i]['com_name']
                td
                    a(href=results[i]['com_url'])
                        span=            url.parse(results[i].com_url).hostname
                        span.text-muted= url.parse(results[i].com_url).path
                td=results[i]['com_adress']
                td
                    //-----------
                    //- BUTTONS
                    //-----------
                    .pull-right
                        button.btn.btn-info.btn-xs.showmemo(type='button')
                            - if (results[i].com_memo.length > 0) {
                                span.symbolbutton ▼
                            - } else {
                                span.symbolbutton ✚
                            - }
                        input.hidden(type='text',id='id',name='id',value=results[i].com_id)
                    .pull-right
                        form(method='post',action='/companies/delete',)
                            button.btn.btn-danger.btn-xs(type='submit', name='com_id', value=results[i].com_id, onClick="return confirm('#{dict === undefined ? 'ERROR' : dict.get('companies', 'deleteConfirmText')}')") ✘
                    .pull-right
                        form(method='get',action='/companies/' + results[i].com_id)
                            button.btn.btn-primary.btn-xs(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('companies', 'infoButtonText')
        - }

    p
        button.btn.btn-default.btn-sm.btn-block(type='button',id='newentrybtn',data-toggle='modal',data-target='#detailmodal')
            = dict === undefined ? 'ERROR' : dict.get('companies', 'addButtonText')
